* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  border: none;
  background: none;
}

.main {
  width: 100%;
  top: calc(100% - vw(50));
  padding: 13.3333333333vw 0 16vw;
}

.icon-list {
  width: 26.6666666667vw;
  text-align: right;
  font-size: 6.1333333333vw;
  position: fixed;
  top: 1.8666666667vw;
  right: 2.6666666667vw;
  z-index: 1000;
  background: #fff;
  color: #9a5b57;
}

.cartItems li {
  padding: 2.6666666667vw;
  display: flex;
  align-items: center;
  box-shadow: 0 0.5333333333vw 2.6666666667vw #ccc;
}
.cartItems li .pic img {
  width: 26.6666666667vw;
  height: 26.6666666667vw;
  margin-right: 2.6666666667vw;
}
.cartItems li .content {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.cartItems li .content .title, .cartItems li .content .stepper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3.2vw;
  line-height: 8.88vw;
  color: #9a5b57;
}
.cartItems li .content .title p, .cartItems li .content .stepper p {
  text-align: left;
}
.cartItems li .content .title p span, .cartItems li .content .stepper p span {
  display: block;
}
.cartItems li .content .stepper {
  display: flex;
  justify-content: space-between;
}
.cartItems li .content .stepper div button, .cartItems li .content .stepper div span {
  display: inline-block;
  height: 8vw;
  width: 8vw;
  text-align: center;
  margin: 0 0.5333333333vw;
  background: #9a5b57;
  color: #fff;
  border: 0.2666666667vw solid #9a5b57;
  vertical-align: middle;
  border-radius: 0.8vw;
}
.cartItems li .content .stepper div span {
  width: 12vw;
  background: #fff;
  color: #9a5b57;
}

.cart {
  width: 100%;
  height: 14.6666666667vw;
  text-indent: 1.8666666667vw;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #e5e6e8;
  padding: 1.8666666667vw 0;
  z-index: 101;
}
.cart .check {
  color: #9a5b57;
}
.cart .check span {
  margin-left: 5.3333333333vw;
  font-size: 3.2vw;
}
.cart .gobuy {
  height: 14.6666666667vw;
  padding: 0 5.3333333333vw;
  background: #492321;
  color: #fff;
  text-indent: 0;
  font-size: 3.7333333333vw;
  letter-spacing: 0.5333333333vw;
  line-height: 14.1333333333vw;
}