* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.home {
  overflow: hidden;
}
.home .sweiper, .home .adPic {
  width: 100%;
}
.home .sweiper img, .home .adPic img {
  width: 100%;
}
.home .footer {
  padding: 4vw 0;
}
.home .footer p {
  color: #8f5451;
  line-height: 1.3;
  text-align: center;
  font-size: 3.2vw;
}