* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.main {
  width: 100%;
  top: calc(100% - 50px);
  padding-bottom: 60px;
}

.list {
  overflow: hidden;
}
.list .footer {
  padding: 4vw 0;
}
.list .footer p {
  color: #8f5451;
  line-height: 1.3;
  text-align: center;
  font-size: 3.2vw;
}