* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.nav {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  color: #b58c78;
  box-shadow: 0 0.5333333333vw 2.6666666667vw #ccc;
  padding: 1.8666666667vw 0;
}
.nav .navItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav .navItem .icon {
  height: 5.3333333333vw;
}
.nav .navItem span {
  font-size: 3.7333333333vw;
}