@function vw($px) {
    @return ($px/375)*100vw
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
button{
    border: none;
    background: none;
}
.main{
    width: 100%;
    top: calc(100% - vw(50));
    padding: vw(50) 0 vw(60);
}
