@import './base.scss';
.nav {
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex ;
    justify-content: space-around;
    color: #b58c78;
    background-color: #fff;
    box-shadow: 0 vw(2) vw(10) #ccc;
    padding: vw(7) 0;
    z-index: 100;
    .navItem{
        display: flex ;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .icon{
            height: vw(20);
        }
        span{
            font-size: vw(14);
        }
    }
}